.env
.env.*
!.env.example
/vendor
/node_modules
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/livewire-tmp/*
/public/build/
/public/hot
.phpunit.result.cache
.phpunit.cache
.idea/
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db
auth.json
